In [ ]:
import pandas as pd

n = ["Luis","Ana","Jose","Luis","Pedro","Carmelta"]
s = [123.43, 4533, 62572, 5352, 34352, 43525]
g = ["M","F","M","M","M","F"]

dt =  {"Nombre":n,"Sueldo":s,"Genero":g}

t = pd.DataFrame(dt)
t

pf = pd.csv()

     Nombre    Sueldo Genero
0      Luis    123.43      M
1       Ana   4533.00      F
2      Jose  62572.00      M
3      Luis   5352.00      M
4     Pedro  34352.00      M
5  Carmelta  43525.00      F

In [ ]:
t.columns=["Personas","Sueldo","Sexo"]
t

   Personas    Sueldo Sexo
0      Luis    123.43    M
1       Ana   4533.00    F
2      Jose  62572.00    M
3      Luis   5352.00    M
4     Pedro  34352.00    M
5  Carmelta  43525.00    F

In [ ]:
# añadir una columna a una tabla de datos
e = [23,34,45,21,23,32]

t["Edad"]= e
t

   Personas    Sueldo Sexo  Edad
0      Luis    123.43    M    23
1       Ana   4533.00    F    34
2      Jose  62572.00    M    45
3      Luis   5352.00    M    21
4     Pedro  34352.00    M    23
5  Carmelta  43525.00    F    32

In [ ]:
# añadir filas a una tabla de datos
t.loc["6",["Edad","Sueldo","Sexo","Personas"]]=[23,345.50,"F","Maria"]
t

   Personas    Sueldo Sexo  Edad
0      Luis    123.43    M  23.0
1       Ana   4533.00    F  34.0
2      Jose  62572.00    M  45.0
3      Luis   5352.00    M  21.0
4     Pedro  34352.00    M  23.0
5  Carmelta  43525.00    F  32.0
6     Maria    345.50    F  23.0

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_excel("/content/Libro1.xlsx")

df

    Acciones(A)  Bonos(B)  Fondos de inversiones( C )  Divisas(D)
0           8.4      16.3                        23.2        34.0
1           7.2      16.5                        23.4        34.0
2           8.3      16.2                        24.4        35.0
3           7.6      16.9                        23.5        35.0
4           8.3      15.8                        25.6        34.7
5           7.3      17.2                        24.2        35.7
6           8.8      17.0                        24.7        37.0
7           9.2      16.9                        26.5        37.9
8           7.7      17.8                        27.0        37.5
9           7.8      17.3                        26.3        38.0
10          8.2      19.0                        25.0        38.5
11          8.5      18.3                        25.9        40.6
12          8.4      18.4                        26.7        45.0
13          7.6      18.6                        27.0        43.0
14          9.3      18.9                        27.4        42.8
15          9.2      19.3                        27.1        47.0
16          8.7      20.3                        28.0        47.9
17          8.8      19.5                        26.3        45.6
18          8.8      19.1                        27.9        48.0
19          8.9      18.2                        28.1        47.9

In [ ]:
df.corr()

,Acciones(A),Bonos(B),Fondos de inversiones( C ),Divisas(D)
Acciones(A),1.000000,0.401399,0.536894,0.563156
Bonos(B),0.401399,1.000000,0.706262,0.869613
Fondos de inversiones( C ),0.536894,0.706262,1.000000,0.851720
Divisas(D),0.563156,0.869613,0.851720,1.000000